link File Bahan untuk developer Flutter

Android Studio			: https://developer.android.com/studio
Flutter SDK				: https://docs.flutter.dev/get-started/install/windows
Visual Studio Community : https://visualstudio.microsoft.com/downloads/
java JDK				: -
Java JRE				: -


VSCode					: Sudah ada
Android SDK 			: (download langsung di Android studio)
Driver USB Google 		: (download langsung di Android studio)
plugin flutter & dart	: (download langsung di Android studio/vscode)

Dokumentasi Flutter 	: https://docs.flutter.dev/get-started/install/windows